{% extends "emails/base.html" %}

{% block content %}
<p>Thank you for your interest in the 
{% if job %}<strong>{{ job.title }}</strong>{% else %}position{% endif %}.</p>

<p>We wanted to provide you with an update regarding your application. Currently, we have placed your application <strong>on hold</strong>. 
This means we are taking a little longer than expected to make a final decision, but you are still under consideration.</p>

<p>We appreciate your patience during this process and will get back to you as soon as we have a definitive update.</p>
{% endblock %}
